.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    column-gap: 128px;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #FFC108;
    padding: 64px 32px;
}

form h1 {
    font-size: 32px;
    text-align: center;
}

form button {
    border: none;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas:    "name subject"
                            "email phone"
                            "message message";
}

#input-name {
    grid-area: name;
}

#input-subject {
    grid-area: subject;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}