:root {
  --col-yellow: #ffc108;
}

body, html {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}


/* START Header */
body>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 128px;
}

body>header h1 {
  margin: 0;
}

header nav > a {
  margin-left: 10px;
}

header nav > a.active {
  border-bottom: 2px solid var(--col-yellow);
}

header+section {
  flex: 1;
}
/* END Header */


/* START Footer */
footer {
  background-color: #f0f0f0;
  padding: 16px 128px;
}
/* END Footer */


/* START Global styles */

h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 16px 0;
}

h1>a {
  font-size: inherit;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

p {
  color: #979797;
  margin: 0 0 16px 0;
  font-size: 24px;
}

section {
  padding: 64px 128px;
}

.btn {
  display: inline-block;
  background-color: var(--col-yellow);
  border: 1px solid var(--col-yellow);
  color: white;
  padding: 0.2rem 1rem;

}

.btn-alt {
  background-color: white;
  border: 1px solid var(--col-yellow);
  color: black;
  margin-right: 12px;
}

/* END Global styles */
